# -*- mode: gitignore; -*-
.DS_Store
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# network security
/network-security.data

/bat
/git
/*.bak
/yazi
/zsh/fzf-git.sh
/zsh/heapbytes-zsh
/zsh/kickstart.nvim
/zsh/ohmyzsh-theme-passion
/zsh/simplerich-zsh-theme
/zsh/passion.zsh-theme
/zsh/selected
/zsh/zsh-script.sh
/zsh/.zshrc
*.code-workspace
setup.sh
/tmux/plugins
/nvchad.bak

*.bak
