layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="home" focus=true {
        pane split_direction="vertical" {
            pane split_direction="horizontal" size="50%" {
                pane name="fastfetch" size="60%" {
                    command "/bin/bash"
                    args "-l" "-c" "fastfetch"
                }
                pane name="shell" {
                    command "/opt/homebrew/bin/nu"
                }
            }
            pane name="btop" {
                command "/opt/homebrew/bin/btop"
            }
        }
    }
}
